<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.jhl.mapper.introMapper">
	<select id="getAllIntro" resultType="PostVO">
		select TO_CHAR(regdate,
		'yyyy-mm-dd hh24:mi:ss'), postnum, title, content, views from
		intro
	</select>

	<select id="updateViews" parameterType="PostVO">
		update intro set
		views = views+1
		where postnum = #{postNum}
	</select>
	
	<select id="doCommit">
		commit
	</select>
	
	<select id="getPostByPostNum" parameterType="PostVO" resultType="PostVO">
		select * from intro where postnum=#{postNum}
	</select>

	<!-- insert 쿼리 insert into intro (postnum, title, content, regDate, 
		views) values (INTRO_SEQ.nextval, '재단소개', '재단소개', sysdate, 0 ); -->
</mapper>